# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform variable files that may contain sensitive data
*.tfvars
*.tfvars.json

# Exclude example files
!terraform.tfvars.example

# CLI configuration files
.terraformrc
terraform.rc

# Lock files
.terraform.lock.hcl

# Local environment files
.env